<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Danh sách trạm MLMT</title>
    <div th:replace="~{layout/layout::library}"></div>
</head>
<body class="sb-nav-fixed">

<!-- Topbar -->
<
<div th:replace="~{layout/layout::topbar}"></div>
<!-- End of Topbar -->

<!-- Sidebar -->
<div id="layoutSidenav">
    <div th:replace="~{layout/layout::sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h4 class="mt-4">Danh sách trạm <span class="badge text-bg-success rounded-pill"
                                                      th:text="${totalSites}"></span></h4>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"><a th:href="@{/}">Tổng quan</a></li>
                    <li class="breadcrumb-item active">Trạm</li>

                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách trạm
                    </div>
                    <div class="card-body table-responsive">
                        <!--                        <form action="/site/list" method="get">-->
                        <!--                            <lable> Tìm theo Site ID</lable>-->
                        <!--                            <input name="searchSiteId" placeholder="Nhập Site Id" th:value="${searchSiteId}">-->
                        <!--                            <button>Tìm kiếm</button>-->
                        <!--                        </form>-->
                        <table id="siteDatatables#" class="table table-bordered table-striped ">
                            <thead>
                            <form action="/site/list" method="get" class="form-control">
                                <tr>
                                    <td>
                                        <button class="btn btn-primary"><i class="fas fa-search me-1"></i></button>
                                    </td>
                                    <td>
                                        <select class=" form-control" name="searchProvince">
                                            <option th:selected="${searchProvince==''}"
                                                    value=""
                                            >Tất cả</option>
                                            <option th:each="province:${provinces}"
                                                    th:value="${province.name}"
                                                    th:text="${province.name}"
                                                    th:selected="(${searchProvince} == ${province.name})">
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" name="searchSiteId" placeholder="Nhập Site Id"
                                               th:value="${searchSiteId}">
                                    </td>

                                </tr>
                            </form>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Tỉnh</th>
                                <th class="text-center">Site ID</th>
                                <th class="text-center">Tên trạm</th>
                                <th class="text-center">Vĩ độ</th>
                                <th class="text-center">Kinh độ</th>
                                <th class="text-center">Địa chỉ</th>
                                <th class="text-center">Đơn vị sở hữu</th>
                                <th class="text-center">Loại truyền dẫn trạm</th>
                                <th class="text-center">Đơn vị sở hữu TD</th>
                                <th class="text-center">Ghi chú</th>
                                <th class="text-center">Tác vụ</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Tỉnh</th>
                                <th class="text-center">Site ID</th>
                                <th class="text-center">Tên trạm</th>
                                <th class="text-center">Vĩ độ</th>
                                <th class="text-center">Kinh độ</th>
                                <th class="text-center">Địa chỉ</th>
                                <th class="text-center">Đơn vị sở hữu</th>
                                <th class="text-center">Loại truyền dẫn trạm</th>
                                <th class="text-center">Đơn vị sở hữu TD</th>
                                <th class="text-center">Ghi chú</th>
                                <th class="text-center">Tác vụ</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="site,stats:${page.getContent()}">
                                <td class="text-center" th:text="${stats.count}">
                                <td class="text-center" th:text="${site.getProvince()}">
                                <td class="text-center">
                                    <a th:href="@{/site/detail(siteId=${site.siteId})}" th:text="${site.siteId}"></a>
                                </td>
                                <td class="text-center" th:text="${site.siteName}">
                                <td class="text-center" th:text="${site.latitude}">
                                <td class="text-center" th:text="${site.longitude}">
                                <td class="text-center" th:text="${site.address}">
                                <td class="text-center"
                                    th:text="${site.getSiteOwner()}">
                                <td class="text-center"
                                    th:text="${site.getSiteTransmissionType()}">
                                <td class="text-center"
                                    th:text="${site.getTransmissionOwner()}">
                                <td class="text-center" th:text="${site.note}">
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <a th:href="@{'/site/edit/'+${site.id}}" type="button" class="btn btn-warning">Sửa</a>
                                        <button th:data-id="${site.id}" th:data-site-id="${site.siteId}"
                                                th:onclick="deleteSite(this.getAttribute('data-id'),this.getAttribute('data-site-id'))"
                                                type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal">Xóa
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${!page.hasPrevious()} ? disabled">
                                    <a class="page-link" th:href="@{/site/list(pageNumber=0)}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${!page.hasPrevious()} ? disabled">
                                    <a class="page-link" th:href="@{/site/list(pageNumber=${page.getNumber()-1})}">Previous</a>
                                </li>

                                <li th:each="p:${#numbers.sequence(page.getNumber()-3,page.getNumber()+3)}"
                                    th:if="${p>=0&&p<page.getTotalPages()}"
                                    th:classappend="${p==page.getNumber()} ? active"
                                    class="page-item">
                                    <a class="page-link" th:href="@{/site/list(pageNumber=${p})}" th:text="${p+1}"></a>
                                </li>

                                <li class="page-item" th:if="${page.hasNext()}">
                                    <a class="page-link"
                                       th:href="@{/site/list(pageNumber=${page.getNumber()+1})}">Next</a>
                                </li>
                                <li class="page-item" th:classappend="${!page.hasNext()} ? disabled">
                                    <a class="page-link" th:href="@{/site/list(pageNumber=${page.getTotalPages()-1})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <span th:text="${'Đang hiển thị trang ' + (page.getNumber()+1) + ' trong ' + page.totalPages}"></span>

                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{layout/layout::footer}"></div>
    </div>
</div>

<!-- MODAL TÁC VỤ XÓA-->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/site/delete}" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Xác nhận xóa dữ liệu !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        Bạn có muốn thực hiện xóa trạm <span style="color: red" id="delete-name"></span> ?
                    </div>
                    <input name="deleteId" type="hidden" id="hidden-delete-id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xóa dữ liệu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
</script>
<script>
    function deleteSite(id, name) {
        document.getElementById("delete-name").innerHTML = name;
        document.getElementById("hidden-delete-id").value = id;
    }
</script>

<div th:replace="~{layout/layout::js-libs}"></div>
</body>
</html>
