<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Quản lý Truyền dẫn - MLMT</title>
        <div th:replace="~{layout/layout::library}"></div>
    </head>
    <body class="sb-nav-fixed">

    <!-- Topbar -->
    <   <div th:replace="~{layout/layout::topbar}"></div>
    <!-- End of Topbar -->

    <!-- Sidebar -->
        <div id="layoutSidenav">
            <div th:replace="~{layout/layout::sidebar}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Thêm mới trạm</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a th:href="@{/}">Tổng quan</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/site/list}">Trạm</a></li>
                            <li class="breadcrumb-item active">Thêm mới</li>

                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-edit me-1"></i>
                                Thêm mới trạm
                            </div>
                            <div class="card-body">
                                <form th:action="@{/site/create}" method="post" th:object="${siteDTO}">
                                    <div class="row g-3">
                                        <div class="mb-3 col" >
                                            <label for="siteId" class="form-label fw-bold">Site ID</label>
                                            <input type="text" id="siteId" th:classappend="${#fields.hasErrors('siteId')}?'is-invalid'" class="form-control" th:field="*{siteId}" th:required="required" >
                                            <span class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('siteId')}" th:errors="*{siteId}"></span>
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Site ID khác (Nếu có)</label>
                                            <input type="text" class="form-control" th:field="*{siteId2}">
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Tên trạm</label>
                                            <input type="text" class="form-control" th:field="*{siteName}">
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="mb-3 col-2">
                                            <label class="form-label fw-bold" for="latitude">Vĩ độ</label>
                                            <input type="text" id="latitude"  th:classappend="${#fields.hasErrors('latitude')}?'is-invalid'" class="form-control" th:field="*{latitude}" th:required="required">
                                            <span class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>
                                        </div>
                                        <div class="mb-3 col-2">
                                            <label class="form-label fw-bold" for="longitude" >Kinh độ</label>
                                            <input type="text" id="longitude"  class="form-control" th:classappend="${#fields.hasErrors('longitude')}?'is-invalid'" th:field="*{longitude}" th:required="required">
                                            <span class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span>
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Địa chỉ</label>
                                            <input type="text" class="form-control" th:field="*{address}">
                                        </div>
                                    </div>
                                    <div class=" row g-3">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Tỉnh</label>
                                                <select class=" form-control "
                                                        aria-hidden="true" th:field="*{province}">
                                                    <option th:each="province1:${provinces}"
                                                            th:value="${province1.id}"
                                                            th:text="${province1.name}"></option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Đơn vị sở hữu trạm</label>
                                                <select class=" form-control " aria-hidden="true" th:field="*{siteOwner}" >
                                                    <option th:value="null" th:selected="true">-- Chọn đơn vị sở hữu --</option>
                                                    <option th:each="siteOwner1:${siteOwners}"
                                                            th:value="${siteOwner1.id}"
                                                            th:text="${siteOwner1.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Loại TD trạm</label>
                                                <select class=" form-control " aria-hidden="true" th:field="*{siteTransmissionType}" >
                                                    <option th:each="siteTransmissionType1:${siteTransTypes}"
                                                            th:value="${siteTransmissionType1.id}"
                                                            th:text="${siteTransmissionType1.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Đơn vị sở hữu TD </label>
                                                <select class=" form-control " aria-hidden="true" th:field="*{transmissionOwner}" >
                                                    <option th:each="transmissionOwner1:${transOwners}"
                                                            th:value="${transmissionOwner1.id}"
                                                            th:text="${transmissionOwner1.name}"></option>
                                                </select>
                                            </div>
                                        </div>
<!--                                        <div class="col-lg-6">-->
<!--                                            <div class="mb-3 form-group">-->
<!--                                                <label class="form-label mb-3 fw-bold">Trạng thái hoạt động</label>-->
<!--                                                <div class="form-check mb-3">-->
<!--                                                    <input class="form-check-input " th:field="*{status}" type="radio" name="status" id="exampleRadios1" value="1" checked>-->
<!--                                                    <label class="form-check-label" for="exampleRadios1">-->
<!--                                                        Đang hoạt động-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                                <div class="form-check form-check-inline mb-3">-->
<!--                                                    <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="exampleRadios2" value="0">-->
<!--                                                    <label class="form-check-label" for="exampleRadios2">-->
<!--                                                        Không hoạt động-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="row g-3">
                                        <div class="form-group col mb-3">
                                            <label for="exampleFormControlTextarea1" class="fw-bold">Ghi chú</label>
                                            <textarea th:field="*{note}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Thêm mới</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="~{layout/layout::footer}"></div>
            </div>
        </div>

    <script th:inline="javascript">
    </script>
    <script>
        function deleteSite(id, siteId) {
            document.getElementById("delete-site-id").innerHTML = siteId;
            document.getElementById("hidden-delete-id").value = id;
        }
    </script>

    <div th:replace="~{layout/layout::js-libs}"></div>
    </body>
</html>
