<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Danh sách trạm MLMT -API</title>
    <div th:replace="~{layout/layout::library}"></div>
</head>
<body class="sb-nav-fixed">

<!-- Topbar -->

<div th:replace="~{layout/layout::topbar}"></div>
<!-- End of Topbar -->

<!-- Sidebar -->
<div id="layoutSidenav">
    <div th:replace="~{layout/layout::sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h4 class="mt-4">Danh sách trạm <span class="badge text-bg-success rounded-pill"
                                                      th:text="${totalSites}"></span></h4>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"><a th:href="@{/}">Tổng quan</a></li>
                    <li class="breadcrumb-item active">Trạm</li>

                </ol>
                <a th:href="@{/site/create}" href="" class="btn btn-primary mb-3"><i class="fas fa-add me-1"></i> Thêm mới trạm </a>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Danh sách trạm
                    </div>
                    <div class="card-body">
                        <table id="siteDatatablesApi" class="table  table-sm  table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="table-dark table-header">
                            <tr>
<!--                                <th class="text-center">STT</th>-->
                                <th class="text-center">Tỉnh</th>
                                <th class="text-center">Site ID</th>
                                <th class="text-center">Site ID khác</th>
                                <th class="text-center">Tên trạm</th>
                                <th class="text-center">Vĩ độ</th>
                                <th class="text-center">Kinh độ</th>
                                <th class="text-center">Đơn vị sở hữu</th>
                                <th class="text-center">Loại truyền dẫn trạm</th>
                                <th class="text-center">Đơn vị sở hữu TD</th>
                                <th class="text-center">Ghi chú</th>
                                <th class="text-center">Sửa</th>
                                <th class="text-center">Xóa</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <!--                                <th class="text-center">STT</th>-->
                                <th class="text-center">Tỉnh</th>
                                <th class="text-center">Site ID</th>
                                <th class="text-center">Site ID khác</th>
                                <th class="text-center">Tên trạm</th>
                                <th class="text-center">Vĩ độ</th>
                                <th class="text-center">Kinh độ</th>
                                <th class="text-center">Đơn vị sở hữu</th>
                                <th class="text-center">Loại truyền dẫn trạm</th>
                                <th class="text-center">Đơn vị sở hữu TD</th>
                                <th class="text-center">Ghi chú</th>
                                <th class="text-center">Sửa</th>
                                <th class="text-center">Xóa</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{layout/layout::footer}"></div>
    </div>
</div>

<!-- MODAL TÁC VỤ XÓA-->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/site/delete}" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Xác nhận xóa dữ liệu !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        Bạn có muốn thực hiện xóa trạm <span style="color: red" id="delete-name"></span> ?
                    </div>
                    <input name="deleteId" type="hidden" id="hidden-delete-id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xóa dữ liệu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
</script>
<script>
    function deleteSite(id, name) {
        document.getElementById("delete-name").innerHTML = name;
        document.getElementById("hidden-delete-id").value = id;
    }
</script>
<!--<script th:src="@{/js/datatables-sites.js}"></script>-->
<div th:replace="~{layout/layout::js-libs}"></div>
<script th:src="@{/js/datatables-sites-api.js}"></script>
</body>
</html>
