<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Quản lý Truyền dẫn - MLMT</title>
        <div th:replace="~{layout/layout::library}"></div>
    </head>
    <body class="sb-nav-fixed">

    <!-- Topbar -->
    <   <div th:replace="~{layout/layout::topbar}"></div>
    <!-- End of Topbar -->

    <!-- Sidebar -->
        <div id="layoutSidenav">
            <div th:replace="~{layout/layout::sidebar}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">Tổng quan</h2>
                        <div class="row mt-3">
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-bg-primary mb-4 shadow">
                                    <h5 class="card-header fs-4">Tổng số trạm</h5>
                                    <div class="card-body" >
                                        <h3 class="card-text text-end fs-3" th:text="${totalSites}"></h3>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-bg-primary stretched-link" th:href="@{/site/list-api}">Xem chi tiết</a>
                                        <div class="small "><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-bg-danger mb-4 shadow">
                                    <h5 class="card-header fs-4">Tổng số thiết bị </h5>
                                    <div class="card-body" >
                                        <h3 class="card-text text-end fs-3"  th:text="${totalRouters}"></h3>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small stretched-link text-bg-danger" th:href="@{/router/list-api}">Xem chi tiết</a>
                                        <div class="small "><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4 shadow">
                                    <h5 class="card-header fs-4">Tỷ lệ quang hóa</h5>
                                    <div class="card-body" >
                                        <h3 class="card-text text-end fs-3" th:with="var=${(totalFoSites*1.0/totalSites*100)}" th:text="${#numbers.formatDecimal(var,2,0)}+'%'"></h3>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/site/list-api}">Xem chi tiết</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary  text-white mb-4 shadow">
                                    <h5 class="card-header fs-4">Chi phí thuê kênh / tháng</h5>
                                    <div class="card-body" >
                                        <h3 class="card-text text-end fs-3" th:text="${#numbers.formatDecimal(totalLeaseLineCostPerMonth,1,'POINT',0,'COMMA')} + ' VNĐ'"></h3>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/leaseline/list-api}">Xem chi tiết</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4 shadow">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Biểu đồ trạm
                                    </div>
                                    <div class="card-body"><canvas id="siteColumnChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4 shadow">
                                    <div class="card-header">
                                        <i class="fas fa-pie-chart me-1"></i>
                                        Biểu đồ loại truyền dẫn
                                    </div>
                                    <div class="card-body"><canvas id="transPieChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="~{layout/layout::footer}"></div>
            </div>
        </div>
    <script th:inline="javascript">

        var siteChartLabels = /*[[${provinceLabels}]]*/ ;
        var siteChartDatas = [[${siteChartData}]];
        // lấy dữ liệu cho đồ thị loại TD
        var transTypeLabels = /*[[${transTypeLabels}]]*/ ;
        var transTypeData = [[${transTypeData}]];
    </script>
    <div th:replace="~{layout/layout::js-libs}"></div>
    </body>
</html>
