<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Quản lý Truyền dẫn - MLMT</title>
        <div th:replace="~{layout/layout::library}"></div>
    </head>
    <body class="sb-nav-fixed">

    <!-- Topbar -->
    <   <div th:replace="~{layout/layout::topbar}"></div>
    <!-- End of Topbar -->

    <!-- Sidebar -->
        <div id="layoutSidenav">
            <div th:replace="~{layout/layout::sidebar}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Sửa thông tin kênh thuê</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="/">Tổng quan</a></li>
                            <li class="breadcrumb-item active"><a href="/site/list">Kênh thuê</a></li>
                            <li class="breadcrumb-item active">Sửa đổi</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-edit me-1"></i>
                                Sửa đổi thông tin kênh thuê
                            </div>
                            <div class="card-body">
                                <form action="/leaseline/edit" method="post" th:object="${leaseLine}">
                                    <div class="row">
                                        <input type="text" class="form-control" th:field="*{id}" th:value="*{id}" hidden>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Site Id</label>
                                            <input type="text" list="siteList" class="form-control" th:field="*{site.id}" th:value="*{site.siteId}">
                                            <datalist id="siteList">
                                                <option th:each="site1:${siteList}" th:value="${site1.id}" th:text="${site1.siteId}">
                                            </datalist>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Nhà cung cấp</label>
                                                <select class=" form-control "
                                                        aria-hidden="true" th:field="*{transmissionOwner}">
                                                    <option th:each="transOwner1:${transOwners}" th:value="${transOwner1.id}" th:selected="(${transOwner1?.id} == *{transmissionOwner?.id})"
                                                            th:text="${transOwner1.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Loại kết nối</label>
                                                <select class=" form-control "
                                                        aria-hidden="true" th:field="*{leaseLineConnectType}">
                                                    <option th:each="leaseLineConnectType1:${leaseLineConnectTypes}" th:value="${leaseLineConnectType1.id}" th:selected="(${leaseLineConnectType1?.id} == *{leaseLineConnectType?.id})"
                                                            th:text="${leaseLineConnectType1.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Băng thông</label>
                                            <input type="number" class="form-control" th:field="*{speed}" th:value="*{speed}">
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Đơn giá thuê (VAT)</label>
                                            <input type="number" class="form-control" th:field="*{cost}" th:value="*{#numbers.formatDecimal(cost, 1, 'POINT', 0, 'COMMA')}">
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Số lượng</label>
                                            <input type="number" class="form-control" th:field="*{quantity}" th:value="*{quantity}">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="exampleFormControlTextarea1">Ghi chú</label>
                                            <textarea th:field="*{note}" th:value="*{note}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-warning mt-3">Cập nhật</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="~{layout/layout::footer}"></div>
            </div>
        </div>

    <script th:inline="javascript">
    </script>

    <div th:replace="~{layout/layout::js-libs}"></div>
    </body>
</html>
