<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Thêm mới thiết bị</title>
        <div th:replace="~{layout/layout::library}"></div>
    </head>
    <body class="sb-nav-fixed">

    <!-- Topbar -->
    <   <div th:replace="~{layout/layout::topbar}"></div>
    <!-- End of Topbar -->

    <!-- Sidebar -->
        <div id="layoutSidenav">
            <div th:replace="~{layout/layout::sidebar}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Thêm mới thiết bị</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a th:href="@{/}">Tổng quan</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/router/list}">Thiết bị</a></li>
                            <li class="breadcrumb-item active">Thêm mới</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-edit me-1"></i>
                                Thêm mới thiết bị
                            </div>
                            <div class="card-body">
                                <form th:action="@{/router/create}" method="post" th:object="${routerDTO}">
                                    <div class="row g3">
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Tên Router</label>
                                            <input type="text" class="form-control"
                                                   th:field="*{name}"
                                                   th:required="required"
                                                   th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                                            >
                                            <small class="invalid-feedback fw-bold text-end"
                                                   th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Ip quản lý</label>
                                            <input type="text" class="form-control"
                                                   th:field="*{ip}"
                                                   th:required="required"
                                                   th:classappend="${#fields.hasErrors('ip')}?'is-invalid'">
                                            <small class="invalid-feedback fw-bold text-end"
                                                   th:if="${#fields.hasErrors('ip')}" th:errors="*{ip}"></small>
                                        </div>
                                        <div class="mb-3 col">
                                            <label class="form-label fw-bold">Site Id</label>
                                            <input type="text" list="siteList" class="form-control" th:field="*{site}" th:required="required">
                                            <datalist id="siteList">
                                                <option th:each="site1:${siteList}" th:value="${site1.id}" th:text="${site1.siteId}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class=" row g3">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Loại thiết bị Router</label>
                                                <select class=" form-control "
                                                        aria-hidden="true" th:field="*{routerType}">
                                                    <option th:each="routerType:${routerTypes}" th:value="${routerType.id}"
                                                            th:text="${routerType.name}"></option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label fw-bold">Loại thiết bị truyền dẫn</label>
                                                <select class=" form-control "
                                                        aria-hidden="true" th:field="*{transmissionDeviceType}" >
                                                    <option th:each="transDevType:${transDevTypes}" th:value="${transDevType.id}"
                                                            th:text="${transDevType.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g3">
                                        <div class="form-group col">
                                            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Ghi chú</label>
                                            <textarea th:field="*{note}" class="form-control" id="exampleFormControlTextarea1" row g3s="3"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary mt-3">Thêm mới</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="~{layout/layout::footer}"></div>
            </div>
        </div>

    <script th:inline="javascript">
    </script>
    <script>
        function deleteSite(id, siteId) {
            document.getElementById("delete-site-id").innerHTML = siteId;
            document.getElementById("hidden-delete-id").value = id;
        }
    </script>

    <div th:replace="~{layout/layout::js-libs}"></div>
    </body>
</html>
