<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Danh sách thiết bị</title>
        <div th:replace="~{layout/layout::library}"></div>
    </head>
    <body class="sb-nav-fixed">

    <!-- Topbar -->
    <   <div th:replace="~{layout/layout::topbar}"></div>
    <!-- End of Topbar -->

    <!-- Sidebar -->
        <div id="layoutSidenav">
            <div th:replace="~{layout/layout::sidebar}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h4 class="mt-4">Danh sách router <span class="badge text-bg-success rounded-pill" th:text="${totalRouters}"></span> </h4>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a th:href="@{/}">Tổng quan</a></li>
                            <li class="breadcrumb-item active">Thiết bị</li>

                        </ol>
                        <a th:href="@{/router/create}" href="" class="btn btn-primary mb-3"><i class="fas fa-add me-1"></i> Thêm mới thiết bị </a>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Danh sách thiết bị
                            </div>
                            <div class="card-body">
                                <table id="routerDatatablesApi" class="table  table-sm  table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead class="table-dark table-header">
                                        <tr>
                                            <th class="text-center" >Tỉnh</th>
                                            <th class="text-center" >Site ID</th>
                                            <th class="text-center" >Tên router</th>
                                            <th class="text-center" >Loại router</th>
                                            <th class="text-center" >Loại thiết bị TD</th>
                                            <th class="text-center" >Ip quản lý</th>
                                            <th class="text-center" >Ghi chú</th>
                                            <th class="text-center" >Sửa</th>
                                            <th class="text-center" >Xóa</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center" >Tỉnh</th>
                                            <th class="text-center" >Site ID</th>
                                            <th class="text-center" >Tên router</th>
                                            <th class="text-center" >Loại router</th>
                                            <th class="text-center" >Loại thiết bị TD</th>
                                            <th class="text-center" >Ip quản lý</th>
                                            <th class="text-center" >Ghi chú</th>
                                            <th class="text-center" >Sửa</th>
                                            <th class="text-center" >Xóa</th>
                                        </tr>
                                    </tfoot>
<!--                                    <tbody>-->
<!--                                    <tr th:each="router,stats:${routerList}">-->
<!--                                        <td  class="text-center" th:text="${stats.count}">-->
<!--                                        <td  class="text-center" th:text="${router.getSite().getProvince().getName()}">-->
<!--                                        <td  class="text-center">-->
<!--                                        <a th:href="@{/site/detail(siteId=${router.getSite().getId()})}" th:text="${router.site.getSiteId()}"></a>-->
<!--                                        </td>-->
<!--                                        <td  class="text-center" th:text="${router.name}">-->
<!--                                        <td  class="text-center" th:text="${router.getRouterType()?.getName()}">-->
<!--                                        <td  class="text-center" th:text="${router.getTransmissionDeviceType()?.getName()}">-->
<!--                                        <td  class="text-center" th:text="${router.ip}">-->
<!--                                        <td  class="text-center" th:text="${router.note}">-->
<!--                                        <td class="text-center" >-->
<!--                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">-->
<!--                                                <a th:href="@{'/router/edit/'+${router.id}}" type="button" class="btn btn-warning">Sửa</a>-->
<!--                                                <button th:data-id="${router.getId()}" th:data-router-name="${router.getName()}"-->
<!--                                                        th:onclick="deleteRouter(this.getAttribute('data-id'),this.getAttribute('data-router-name'))"-->
<!--                                                        type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                                        data-bs-target="#deleteModal">Xóa-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                    </tr></tbody>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="~{layout/layout::footer}"></div>
            </div>
        </div>

    <!-- MODAL TÁC VỤ XÓA-->
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/router/delete}" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Xác nhận xóa dữ liệu !</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            Bạn có muốn thực hiện xóa router <span style="color: red" id="delete-name"></span> ?
                        </div>
                        <input name="deleteId" type="hidden" id="hidden-delete-id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Xóa dữ liệu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
    </script>

    <script>
        function deleteRouter(id, name) {
            document.getElementById("delete-name").innerHTML = name;
            document.getElementById("hidden-delete-id").value = id;
        }
    </script>
<!--    <script th:src="@{/js/datatables-routers.js}"></script>-->
    <div th:replace="~{layout/layout::js-libs}"></div>
    <script th:src="@{/js/datatables-routers-api.js}"></script>
    </body>
</html>
